 
 body {
    margin: auto;
    background-color: #3066be
 }
 .navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 50px;
    background-color: #090c9b;
    text-decoration: none;
    color: white;
    box-shadow: 4px 6px 6px black;
    margin-bottom: 20px;
 }

 .navBar a {
    color: white;
 }

 .homeLink.active, .passdownLink.active {
    background-color: #3c3744;
    padding:  12px;
 }

 .techList {
    background-color: #52b2bf;
 }

 .shitInfo {
    border-collapse: collapse;
    width: 100%;
 }

 .shiftInfo th, .shiftInfo td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
 }

 .shiftInfo th {
    background-color: #52b2bf;
 }

 .shiftInfo tr {
    background-color: #82eefd
 }

 .shiftInfo th, .shiftInfo td {
    white-space: nowrap;
 }

 .shiftInfo th, shiftInfo td {
    padding: 10px;
 }

 .shiftInfo tr:hover {
    background-color: white;
 }

 .passdownTable {
   box-shadow: 4px 6px 6px black;
   border-radius: 10px;
   margin: 20px;
   width: 97%;
 }

 .passdownTable th, .passdownTable td {
   border: 1px solid black;
   padding: 8px;
   text-align: center;
   padding: 10px;
   white-space: nowrap;
 }

 .passdownTable th {
   background-color: #52b2bf;
   
 }

 .passdownTable tr {
   background-color: #82eefd;
 }

 

 .passdownTable tr:hover {
   background-color: white;
 }

 .passdownHeader {
   display: flex;
   background-color: #52b2bf;
   padding: 20px;
   width: 94%;
   margin: 20px;
   margin-right: 10px;
   box-shadow: 4px 6px 6px black;
   border-radius: 10px;
 }

 .passdownHeader label {
   padding: 8px;
   margin: 10px;
 }