 body {
    margin: auto;
    background-color: #3066be
 }

 .navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 50px;
    background-color: #090c9b;
    text-decoration: none;
    color: white;
    margin-bottom: 5px;
 }

 .navBar a {
    color: white;
 }

 .navBarLeft {
    justify-content: flex-start;
    display: flex;
    padding: 10px;

 }

 .navBarRight {
    justify-content: flex-end;
    display: flex;
    padding: 10px;
 }

 .navBarCenter {
    justify-content: center;
    display: flex;
    padding: 10px;
 }

 .navLogo {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding: 10px;
 }

 .homeLink.active,
 .passdownLink.active,
 .safetyLink.active {
    background-color: #3c3744;
    padding: 12px;
 }

 .homeLink,
 .passdownLink,
 .safetyLink,
 .createPassdownLink,
 .searchPassdownLink {
    padding: 15px;
 }


 .techList {
    background-color: #52b2bf;
 }

 .homeLogo {
    border-radius: 50%;
 }

 .shitInfo {
    border-collapse: collapse;
    width: 100%;
 }

 .shiftInfo th,
 .shiftInfo td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
 }

 .shiftInfo th {
    background-color: #52b2bf;
 }

 .shiftInfo tr {
    background-color: #82eefd
 }

 .shiftInfo th,
 .shiftInfo td {
    white-space: nowrap;
 }

 .shiftInfo th,
 .shiftInfo td {
    padding: 10px;
 }

 .shiftInfo tr:hover {
    background-color: white;
 }

 .passdownTable {
    box-shadow: 4px 6px 6px black;
    border-radius: 10px;
    margin: 20px;
    width: 97%;
 }

 .passdownTable th,
 .passdownTable td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    padding: 10px;
    white-space: nowrap;
 }

 .passdownTable th {
    background-color: #52b2bf;

 }

 .passdownTable tr {
    background-color: #82eefd;
 }



 .passdownTable tr:hover {
    background-color: white;
 }

 .passdownHeader {
    background-color: white;
    padding: 20px;
    width: 75%;
    margin-left: 10%;
    box-shadow: 4px 6px 6px black;
    border-radius: 10px;
    margin-top: 30px;
 }

 .passdownHeaderTop,
 .passdownBottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-bottom: 10px;
 }


 .passdownHeader label {
    font-weight: bold;
    /* padding: 8px; */
    margin: 10px;
 }

 .passdownHeader select,
 .passdownHeader input[type="time"],
 .passdownHeader input[type="text"],
 .passdownHeader input[type="date"] {
    padding: 5px;
    margin: 5px 0;
    width: 15%;
    border: 1px solid black;
    border-radius: 3px;
 }

 .passdownHeader button {
    background-color: #090c9b;
    color: white;
    border: 1px black;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
   margin-right: 41%;
   box-shadow: 4px 4px 4px black;

 }

 .passdownHeaderInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: auto;
    background-color: #82eefd;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 4px 6px 6px black;
 }

 .passdownHeaderInfoTop {
    margin-bottom: 5px;
 }

 .passdownHeaderInfoBottom {
    display: flex;
    justify-content: space-between;
 }

 .passdownHeaderInfoBottomLeft {
    padding-right: 500px
 }

 .passdownHeaderInfoBottomRight {
    padding-left: 200px;
 }


 div.passdownSearchHeader {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 90%;
    padding: 5px;
    box-shadow: 4px 4px 4px black;
    background-color: white;
 }



 .home {
    display: flex;
    flex-direction: column;
 }

 .homeTitle {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 20px;
 }

 .techEditButton {
   background-color:#090c9b;
   color: white;
   cursor: pointer;
   padding: 5px 10px;
   margin-top: 10px;
   border-radius: 5px;
   box-shadow: 4px 4px 4px black;
 }

 .staffInfo {
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    padding-left: 40px;

 }

 .managers {
    padding: 30px;
    margin-right: 50px;
 }

 .techs {
    padding-left: 30px;
    margin-left: 40%;
    margin-top: 25px;
 }


 .passdownHomePage {
    display: flex;
    flex-direction: column;
 }

 .createPassdown {
   margin-left: 40%;
 }

 .searchPassdown {
   margin-left: 40%
 }

 .sendPassdownButton {
   background-color: red;
    color: white;
    border: 1px black;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
      margin-left: 42%;
      margin-top: 10px;
      box-shadow: 4px 4px 4px black;
 }

 .searchPassdownMain {
   display: flex;
   flex-direction: column;
 }

 .searchPassdownTitle {
   display: flex;
   text-align: center;
   justify-content: center;
   padding: 20px;
 }

 .searchPassdownForm {
   margin-left: 30px;
 }

 .searachPassdownButton {
   background-color:#090c9b;
   color: white;
   padding: 5px 10px;
   cursor: pointer;
   margin-top: 10px;
   margin-left: 35px;
   border-radius: 10px;
   box-shadow: 4px 4px 4px black;

 }

 .resultsSearch {
   display: flex;
   text-align: center;
   justify-content: center;
   padding: 20px;
 }

 .noResultsDisplay {
   display: flex;
   text-align: center;
   justify-content: center;
   padding: 20px;
 }

 .techEditor {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: white;
   padding: 10px;
   width: 75%;
   margin-left: 10%;
   box-shadow: 4px 6px 6px black;
   border-radius: 10px;
   margin-top: 30px;
}

 .techEditorButton {
  
   background-color: red;
   cursor: pointer;
   font-size: xx-small;
   padding: 2px;
   margin-left: 10px;
   border-radius: 10px;
   border-radius: 10px;
 }

 .techEditiorClose {
   background-color:#090c9b;
   color: white;
   cursor: pointer;
   border-radius: 5px;
 }

.addTechButton {
   background-color: blue;
   color: white;
   cursor: pointer;
   padding: 3px;
   margin-top: 10px;
   border-radius: 5px;
}

.techEditorForm {
   padding: 3px;
}