 
 body {
    margin: auto;
    background-color: #3066be
 }
 .navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 50px;
    background-color: #090c9b;
    text-decoration: none;
    color: white;
    margin-bottom: 20px;
 }

 .navBar a {
    color: white;
 }

 .navBarLeft {
   justify-content: flex-start;
   display: flex;
   padding: 10px;

 }

 .navBarRight {
   justify-content: flex-end;
   display: flex;
   padding: 10px;
 }

 .navBarCenter {
   justify-content: center;
   display: flex;
   padding: 10px;
 }

 .navLogo {
   width: 45px;
   height: 45px;
   border-radius: 50%;
   padding: 10px;
 }

 .homeLink.active, .passdownLink.active, .safetyLink.active {
    background-color: #3c3744;
    padding:  12px;
 }

 .homeLink, .passdownLink, .safetyLink, .createPassdownLink, .searchPassdownLink {
   padding: 15px;
 }

 .techList {
    background-color: #52b2bf;
 }

 .homeLogo {
   border-radius: 50%;
 }

 .shitInfo {
    border-collapse: collapse;
    width: 100%;
 }

 .shiftInfo th, .shiftInfo td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
 }

 .shiftInfo th {
    background-color: #52b2bf;
 }

 .shiftInfo tr {
    background-color: #82eefd
 }

 .shiftInfo th, .shiftInfo td {
    white-space: nowrap;
 }

 .shiftInfo th, shiftInfo td {
    padding: 10px;
 }

 .shiftInfo tr:hover {
    background-color: white;
 }

 .passdownTable {
   box-shadow: 4px 6px 6px black;
   border-radius: 10px;
   margin: 20px;
   width: 97%;
 }

 .passdownTable th, .passdownTable td {
   border: 1px solid black;
   padding: 8px;
   text-align: center;
   padding: 10px;
   white-space: nowrap;
 }

 .passdownTable th {
   background-color: #52b2bf;
   
 }

 .passdownTable tr {
   background-color: #82eefd;
 }

 

 .passdownTable tr:hover {
   background-color: white;
 }

 .passdownHeader {
   background-color: #52b2bf;
   padding: 20px;
   width: 75%;
   margin-left: 10%;
   box-shadow: 4px 6px 6px black;
   border-radius: 10px;
 }

 .passdownHeaderTop, .passdownBottom {
   display: flex;
   flex-wrap: wrap;
   justify-content:left;
   margin-bottom: 10px;
 }

 
 .passdownHeader label {
   font-weight: bold;
   /* padding: 8px; */
   margin: 10px;
 }

 .passdownHeader select,
 .passdownHeader input[type="time"],
 .passdownHeader input[type="text"],
 .passdownHeader input[type="date"] {
   padding: 5px;
   margin: 5px 0;
   width: 15%;
   border: 1px solid black;
   border-radius: 3px;
 }

 .passdownHeader button {
   background-color:  #090c9b;
   color: white;
   border: 1px black;
   border-radius: 3px;
   padding: 5px 5px;
   cursor: pointer;

 }



 



 